.modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh; 
    background: rgba(4, 4, 4, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content-container {
    width: 50%;
    height: 50%; 
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.margin-left {
    margin-left: 20px;
}